version: "3.5"

services:
        db:
            image: mysql:5.7
            volumes:
              - db_data:/var/lib/mysql
            restart: always
            environment:
              MYSQL_ROOT_PASSWORD: redhat
              MYSQL_DATABASE: wordpress
              MYSQL_USER: wordpress
              MYSQL_PASSWORD: wordpress

        wordpress:
            depends_on:
              - db
            image: wordpress:latest
            volumes:
              - wordpress_data:/var/www/html
            ports:
              - "8000:80"
            restart: always
            environment:
              WORDPRESS_DB_HOST: db
              WORDPRESS_DB_USER: wordpress
              WORDPRESS_DB_PASSWORD: wordpress
              WORDPRESS_DB_NAME: wordpress

volumes:
  wordpress_data:
  db_data:
